html {
  height: 100%;
  width: 100%;
  background-color: #f9d3e0;
  font-style: oblique; 
  font-size: 20px;
}

body{
  text-align: center;
}

img {
  width: 20%;
}

body{
  text-align: center;
}

body{

  text-align: center;
}



body{

  text-align: center;}

img {
  width:20%;
  height: 20%;
}